@import "../../styles/app";

body {
  background-color: #F6F7FF !important
}
.container {
  padding: 0;

  .login-part {
    width: 100%;
    height: calc(100vh - 64px);
    background-color: #fff;
    overflow-y: auto;

    .login-wrapper {
      margin: 0 auto;
      width: 343px;
      height: auto;
      padding-top: 102px;

      .login-slogan {
        margin-bottom: 8px;
        font-size: 40px;
        line-height: 48px;
        color: $primary;
      }

      .login-descript {
        height: 20px;
        color: $grey-default;
        font-size: $font-size-16;
        line-height: 20px;
        margin-bottom: 72px;
      }


      // 비밀번호 찾기
      .forget-password {
        a {
          height: 16px;
          line-height: 16px;
          font-size: $font-size-base;
          color: $grey-default;
          &::before {
            display: none !important;
          }
        }
      }    
      .go-login {
        a span{
          font-size: $font-size-base;
          color: $grey-default;
        }
        @extend %ico-16;
      }


      .btn-login {
        &+.col {
          color: $grey-default;
          line-height: 16px;
        }
      }

      .google {
        color: $primary;
        &::before {
          display: none;
        }
      }
    }
  }
}


// 로그인 전용 textfiled 스타일, override 포함
.login-input {
  .v-input__append-inner {
    margin-right: 0!important;
  }
}

.sign-in-option {
  .checked-group {
    height: 24px;
     
    span {
      display: inline-block;
      padding-left: 6px;
      font-size: 12px !important;
      line-height: 16px;
      letter-spacing: -0.02em;
      color: $grey-default !important;

    }
    a {
      color: $grey-default !important;
    }
  }
}


.v-application .error--text {
  label{
    color: $primary !important;
    caret-color: $primary  !important;
    transition:none!important;
    animation:none !important;
  }
  input {
    color: $primary!important;
    caret-color: $primary  !important;
  }
}