@import "../../styles/app";

body {
  background-color: #F6F7FF !important
}
.container {
  padding: 0;

  .login-part {
    width: 100%;
    height: calc(100vh - 64px);
    background-color: #fff;
    overflow-y: auto;

    .login-wrapper {
      margin: 0 auto;
      width: 343px;
      height: auto;
      padding-top: 102px;

      .login-slogan {
        margin-bottom: 8px;
        font-size: 40px;
        line-height: 48px;
        color: $primary;
      }

      .login-descript {
        height: 20px;
        color: $grey-default;
        font-size: $font-size-16;
        line-height: 20px;
        margin-bottom: 72px;
      }


      // 비밀번호 찾기
      .forget-password {
        a {
          height: 16px;
          line-height: 16px;
          font-size: $font-size-base;
          color: $grey-default;
          &::before {
            display: none !important;
          }
        }
      }    
      .go-login {
        a span{
          font-size: $font-size-base;
          color: $grey-default;
        }
        img{
          width: 16px;
        }
      }


      .btn-login {
        &+.col {
          color: $grey-default;
          line-height: 16px;
        }
      }

      .google {
        color: $primary;
        &::before {
          display: none;
        }
      }
    }
  }
}


// 로그인 전용 textfiled 스타일, override 포함
.login-input {

}

.sign-in-option {
  .checkbox-group {
    height: 24px;
    color: $grey-default;
     
    span {
      display: inline-block;
      padding-left: 6px;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -0.02em;
    }
  }
}

.checkbox-group {

  .checkbox-control {
    input[type="checkbox"]+label {
      display: block;
      width: 16px;
      height: 16px;
      border-width: 1px;
      border-style: solid;
      border-color: $grey-placeholder;
      border-radius: 2px;
      background-color: #fff;
    
    }
    input[type="checkbox"]:checked+label {
      display: block;
      width: 16px;
      height: 16px;
      border-width: 0;
      background-image: url('../../assets/img/icon/icon__checkbox-checked.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px 16px;
      background-color: $point-deep;

        
    }
    
    input[type="checkbox"] {
        display: none;
    }
  }
}


.v-application .error--text {
  label{
    color: $primary !important;
    caret-color: $primary  !important;
    transition:none!important;
    animation:none !important;
  }
  input {
    color: $primary!important;
    caret-color: $primary  !important;
  }
}