@import '../../../styles/app';

.side-panel {
    
    &.parse {
        max-width: 400px;
        border-left:1px solid $border-dark;
        background-color: $background-dark;

        .parse-title {
            height: 41px;
            padding: 15px 24px 0 15px;
            font-size: $font-size-base !important;
            border-bottom: 1px solid $grey-light;
                
            .update-pre {
                font-size: 11px!important;
                line-height: 16px;

                span {
                   letter-spacing: -0.02em;
                }

                &.v-btn {
                    padding: 0 !important;

                    &::before {
                        display: none!important;
                    }
                    .v-btn__content {
                        color: $point-bulely;
                    }
                    i {
                        margin-left: 2px;
                    }
                }
            }

        }

        > .row:last-child {
            margin-bottom: 7px;
        }
        
        .parse-section {
            padding: 16px 24px 15px 15px;
            border-bottom: 1px solid $border-default;

            .section-title {
                width: 100%;
                > span {
                    height: 24px;
                }
                font-size: $font-size-base;
                margin-bottom: 4px;
            }

            .v-input {
                input {
                    font-size: $font-size-base!important;
                }
            }

            .checked-group,
            .text-group {
                width: 100%;

            }

            .checked-group {
                padding: 4px 0;
            }

            .text-group {
                span {
                    // height: 24px;
                    flex-shrink: 0;
                }
            }          
        }

        .multi-row {
            .checkbox-control,
            .radio-control {
                position: relative;
                top: -14px;
            }
    
            .text-group {
                > div {
                    min-height: 28px;
                }
            }
            .checked-group {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &.text-only {
                .checkbox-control,
                .radio-control {
                    position: relative;
                    top: -17px;
                }                
                .text-group {
                    span {
                        line-height: 24px;
                    }
                }
            }

            & + .text-only {
                .text-group {
                    span {
                        line-height: 32px;
                    }
                }
            }

        }  

        .single-row {
            margin-bottom: 2px;
            &.checked-group {
                min-height: 34px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .inline-input {
                position: relative;
                top: -1px;
            }
            &.v-input {
                input {
                    padding: 0;
                }
            }
         
        }

        .col-sprt {
            .v-input {
                max-width: 160px;
                display: inline-block;
            }

            &.single {
                .checked-group {
                    margin-bottom: 0;
                }
            }
        }

        .ws-import {
            .v-btn {
                margin-right: 6px;
            }
        }

        /* == check, radio 옵션 선택만 있는 경우 ================================*/

        .text-group {
            .inline-input {
                position: relative;
                top: -1px;
                &.w-56{
                    width: 56px;
                }
                &.w-40 {
                    width: 40px;
                }
          
            }
            span {
                letter-spacing: -0.02em;
            }
        }
    }
}
