
html {
  overflow-y: hidden;
}

.v-application {
  
  .page-title {
    font-size: 2.4rem;
    color: $text-grey;
    margin-bottom: 0;
  }
  .v-card {
    box-shadow: $card-shadow!important;
    .v-card__title p{
      color: $card-title-color;
      line-height: 1.33;
      margin: 0;
      font-size: 20px;
      font-weight: 400;
    }
    .card-dark-grey {
      color: $title-grey!important;
    }
    .card-light-grey {
      color: $text-color!important;
    }
  }
  .v-navigation-drawer {
    .v-navigation-drawer__content {
      .v-list {
        .v-list-item--active {
          background-color: #F3F5FF;
          &:before {
            opacity: 0;
          }
        }
        .v-list-item:hover {
          background-color: #F3F5FF;
          &:before {
            opacity: 0;
          }
        }
      }
    }
  }

  h1 {
    font-size: $h1-font-size;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 1;
  }
  h2 {
    font-size: $h2-font-size;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 1;
  }
  h3 {
    font-size: $h3-font-size;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 1;
  }
  h4 {
    font-size: $h4-font-size;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 1;
  }
  h5 {
    font-size: $h5-font-size;
    font-weight: 400;
    margin-bottom: 16px;
  }
  h6 {
    font-size: $h6-font-size;
    font-weight: 400;
    margin-bottom: 16px;
  }

  .row {
    margin-left: -12px;
    margin-right: -12px;
  }

  .no-gutters {
    margin: 0;
  }

  // 폰트 사이즈 setting
  .font-size-base {
    font-size: $font-size-base;
  }
  .font-size-14 {
    font-size: $font-size-14;
  }

  .font-size-13 {
    font-size: $font-size-13;
  }

  .font-sizes-16 {
    font-size: $font-size-16;
  }

  .ft-grey-default {
    color: $grey-default;
  }

  .white-text {
    color: #fff;
    caret-color:#fff;
  }

}
.mapContainer + footer.v-footer {
  display: none;
}


.toasted-container {
  .toasted {
    height: 50px!important;
    box-shadow: none;

    &.default {
      background: $primary!important;
    }

    &.error {
      background: $error!important;
    }

    &.success {
      background: $success!important;
    }

    &.info {
      background-color: $primary!important;
    }

    &.warning {
      background: $warning!important;
    }

    .action {
      color: $text-color;
    }
  }
}


.v-application {
  .icon-16 {
      width: 16px;
      height: 16px;
      background-image: url(/src/ssets/img/icon-16.png);
      background-repeat: no-repeat;

    &.icon-mail { 
      background-position: 0 0;
    }
  }

}


// list style reset {
  ul {
    > li {
      list-style: none;
  }
}


/* == Card ======================================================================================= */
.card-base {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: $border-light;
  color: $primary;
  background-color: #fff;

  .wrap {
    padding: 38px 46px;
    width: 100%;
    height: 100%;
  }

  &:hover, &:active {
    border-color: $point-light;
    background-color: $white-background-hover;
    cursor: pointer;
  }

  &.active {
    border-color: $point-deep;
    border-width: 2px;
    background-color: #fff;
    cursor: default;
  }

  &:disabled, &.disabled {
    opacity: .5;
    border-color: $unselect;
    border-width: 1px;
    background-color: $grey-light;
    cursor: default;
  }
}

/* == Progress ======================================================================================= */

.v-progress-linear{

  &.page {
    
    &.v-progress-linear--fixed {
      z-index: 6;
    }

    .v-progress-linear__determinate {
      background: $progress-linear-stripe-gradient;
    }
    
    .v-progress-linear__indeterminate {
      background: $progress-linear-stripe-gradient;
    }
  }

  &.file {
    &.v-progress-linear--rounded {
      border-radius: 8px;
    }
  }
}

.circular-progress {
  $size : 128px;

  width: $size;
  height: $size; 
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 0 - ($size/2);
  margin-left: 0 - ($size/2);
  background-color: #fff;
  border-radius: 16px;
  z-index: 6;
}


// Divide line
.dl-l,
.dl-r {
  position: relative;
  &::before {
    content:'';
    position: absolute;
    display: block;
    top: 50%;
    width: 1px;
    height: 16px;
    margin-top: -8px;
    border-left : 1px solid #D9D9D9;
  }
}
.dl-l::before {
  left: 0;

}
.dl-r::before {
  right: 0;
}


/* == BTN ======================================================================================= */
.v-btn {
  &::before {
    display: none !important;
  }
}

/* == checkbox ======================================================================================= */
%checked-set {
  display: block;
  width: 16px;
  height: 16px;
  border-width: 0;
  background-image: url('../../assets/img/icon/icon__checkbox-checked.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  background-color: $point-deep;
}


.v-image.v-responsive {
  flex : 0 0 auto !important
}     

/* == text-field, textarea 공통 속성 =============================================================== */

.v-input.v-textarea .v-input__slot {
    fieldset {
        background-color: #fafbfc !important;
    }
} 

.v-icon {
  position:relative;
  .v-icon__component {
    position: absolute;
    top: 0;
    left: 0;
  }
}