html {
  overflow-y: hidden;
}
.v-application {
  .page-title {
    font-size: 2.4rem;
    color: $text-grey;
    margin-bottom: 0;
  }
  .v-card {
    box-shadow: $card-shadow!important;
    .v-card__title p{
      color: $card-title-color;
      line-height: 1.33;
      margin: 0;
      font-size: 20px;
      font-weight: 400;
    }
    .card-dark-grey {
      color: $title-grey!important;
    }
    .card-light-grey {
      color: $text-color!important;
    }
  }
  .v-navigation-drawer {
    .v-navigation-drawer__content {
      .v-list {
        .v-list-item--active {
          background-color: #F3F5FF;
          &:before {
            opacity: 0;
          }
        }
        .v-list-item:hover {
          background-color: #F3F5FF;
          &:before {
            opacity: 0;
          }
        }
      }
    }
  }

  h1 {
    font-size: $h1-font-size;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 1;
  }
  h2 {
    font-size: $h2-font-size;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 1;
  }
  h3 {
    font-size: $h3-font-size;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 1;
  }
  h4 {
    font-size: $h4-font-size;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 1;
  }
  h5 {
    font-size: $h5-font-size;
    font-weight: 400;
    margin-bottom: 16px;
  }
  h6 {
    font-size: $h6-font-size;
    font-weight: 400;
    margin-bottom: 16px;
  }

  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .no-gutters {
    margin: 0;
  }

  // 폰트 사이즈 setting
  .font-size-base {
    font-size: $font-size-base;
  }
  .font-size-14 {
    font-size: $font-size-14;
  }

  .font-sizes-16 {
    font-size: $font-size-16;
  }

  .ft-grey-default {
    color: $grey-default;
  }
}
.mapContainer + footer.v-footer {
  display: none;
}


.toasted-container {
  .toasted {
    height: 50px!important;
    box-shadow: none;

    &.default {
      background: $primary!important;
    }

    &.error {
      background: $error!important;
    }

    &.success {
      background: $success!important;
    }

    &.info {
      background-color: $primary!important;
    }

    &.warning {
      background: $warning!important;
    }

    .action {
      color: $text-color;
    }
  }
}


.v-application {
  .icon-16 {
      width: 16px;
      height: 16px;
      background-image: url(/src/ssets/img/icon-16.png);
      background-repeat: no-repeat;

    &.icon-mail { 
      background-position: 0 0;
    }
  }

}


// list style reset {
  ul {
    > li {
      list-style: none;
  }
}


/* == Card ======================================================================================= */
.card-base {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: $border-light;
  color: $primary;
  background-color: #fff;

  .wrap {
    padding: 40px 48px;
    width: 100%;
    height: 100%;
  }

  &:hover, &:active {
    border-color: $point-light;
    background-color: $white-background-hover;
    cursor: pointer;
  }

  &.active {
    border-color: $point-deep;
    border-width: 2px;
    background-color: #fff;
    cursor: default;
  }

  &:disabled, &.disabled {
    opacity: .5;
    border-color: $unselect;
    border-width: 1px;
    background-color: $grey-light;
    cursor: default;
  }
}

/* == Progress ======================================================================================= */
.v-progress-linear--fixed.page {
  z-index: 6;
}

.v-progress-linear__determinate {
  background: $progress-linear-stripe-gradient;
}
.v-progress-linear__indeterminate {
  background: $progress-linear-stripe-gradient;
}