.v-btn {
    border-radius: 8px!important;
    letter-spacing: 0;

    &.point-deep {
        background-color: $point-deep!important;
        color: #fff!important;

        
        &.v-btn--outlined {
            border-color: $point-deep!important;
            color:$point-deep!important;
            background-color: #fff!important;
           
        }
    }

    &.v-btn--outlined {
        &:before {
            display: none;  
          }
        background-color: #fff!important;

        &.point-deep { // outlined
            border-color: $point-deep !important;
        
            &::before {
                display: none;
            }
        
            .v-btn__content {
                color: $point-deep!important;
            }
        }        
    }

    &.btn-md {
        font-size: 13px !important;
        font-weight: normal !important;
    }


    &.btn-md {
        .v-btn__content {
            height: 32px;
            font-weight: normal;
            font-size: 13px;
        }
     
    }
    &.point-deep { // filled
        border-color: $point-deep !important;
  
        &::before {
          display: none;
        }
  
        .v-btn__content {
            color: #fff!important;
        }
      }


}
