@import '~vuetify/src/styles/styles.sass';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

// Sidebar //
$drawer-items-padding:                     32px !default;
$navigation-drawer-mini-variant-width:     96px!important;

// Layout //
$body-bg: #F8FAFB !default;
$content-padding: 24px;
$grid-std:  8px;

// Colors //

$secondary:         #FF5C93;
$warning:           #FFC260;
$success:           #3CD4A0;
$info:              #9013FE;
$text-color:        #6e6e6e;
$text-grey:         #b9b9b9;
$title-grey:        #4a4a4a;

$primary:           #202020;
$error:             #FF5858;
$grey-placeholder:  #878787;

$font-default:      #878787;

$grey-default:      #666666;
$grey-light:        #C9C9C9;

$border-grey-01:    #EFEEF1;
$border-default:    #DEDFE0;
$border-light :     #F5F3F8;
$border-dark:       #9CA6B5;

$white-background:  #F8FAFB;
$white-background-hover:  #FAFDFF;
$white-pale:        #EBEEF1;

$point-light:       #7C99FF;
$point-deep:        #5551FF;
$point-bulely:      #5C72E7;

$card-title-color:  $text-color;
$text-num:          #55BB11;

$unselect:          #9AA0B3;

$background-dark:   #EBEEF1;

$tbw02 :            #fafbfc;

$gnr-deep-pale:     #DDDEE7;
$gnr-light:           $grey-light;
$gnr-bg-default :     $body-bg;
$gnr-bg-dark :       #EBEEF1;
$gnr-tooltip-primary: rgba(32,32,32,.75);
$gnr-default:         #666666;
$gnr-border-default : #DEDFE0;
$gnr-border-dark :    #9CA6B5;
$gnr-list-hvoer :       rgba(124, 153, 255, .2);
$gnr-pale :            $white-pale;

$alert:             #FF5858;
$caution :          #FFCC55;

// 기본 폰트 변경
$body-font-family: 'Noto Sans KR', 'sans-serif';
$heading-font-family: $body-font-family; 

/* Typography 
$h1-font-size:                3rem !default;      // 28px
$h2-font-size:                2rem !default;       // 24px
$h3-font-size:                1.64rem !default;     // 22px
$h4-font-size:                1.5rem !default;     // 20px
$h5-font-size:                1.285rem !default;         // 16px
$h6-font-size:                1.142rem !default;     // 14px
*/

$h1-font-size:                28px !default;      
$h2-font-size:                24px !default;       
$h3-font-size:                22px !default;    
$h4-font-size:                20px !default;     
$h5-font-size:                16px !default;        
$h6-font-size:                14px !default;     



$font-size-16 : 16px !default;
$font-size-14 : 14px !default;
$font-size-13 : 13px !default;
$font-size-base : 12px !default;
$font-size-data : 10px !default;

$title__24 : 24px;



// Card //
$card-shadow: 0 3px 11px 0 rgba(0,0,0,.16), 0 3px 3px -2px rgba(0,0,0,.16), 0 1px 8px 0 rgba(0,0,0,.16);

// Buttons //
$button-shadow: 0px 3px 11px 0px #E8EAFC, 0 3px 3px -2px #B2B2B21A, 0 1px 8px 0 #9A9A9A1A;


// header //
$header-height: 64px;



$progress-linear-stripe-gradient:
    linear-gradient(
        90deg, 
        rgba(89,194,188,1) 0%, 
        rgba(0,125,214,1) 50%, 
        rgba(106,103,255,1) 100%
    ) !default;
