@import '../../styles/app';
@import '../../components/Checked/Checked';// full request

.create-project {

    height: calc(100vh - 64px);
    overflow-y: auto ;

    .wrap {
        width: 1000px;
        padding: 120px 0;
        margin: 0 auto;
            
        @media screen and  (max-height: 768px) {
            padding-top : 32px
        }
    }

    .page-title { 
        h1 {
            display: block;
            width: 100%;
            height: 75px;
            height: auto;
            padding: 8px 0 17px;
            font-size: 32px;
            color: $primary;
            border-bottom: 2px solid $primary;
        }
        .descript {
            p {
                 font-size: $font-size-16;
                 color: $grey-default;
                 margin-bottom: 6px;
                 line-height: 24px;
            }

            span {
                display: block;
                font-size: $font-size-14;
                line-height: 19px;
                color : #969696;
            }
        }
     
    }

    .get-data {
        height: 364px;
        position: relative;

        .card-wrap {
            height: 100%;
            width: 100%;
        }

        &.import {
            > .card-wrap{
                height: 325px!important;
                margin-top: 16px;
            }
            &.get-file {
                > .active {
                    &.import-file {
                        left: 0;
                        display: block!important;
                    }
                }
            }
            &.get-database {
                > .active {
                    &.import-database {
                        right: 0;
                        display: block!important;
                    }
                }
            }

            > .active {
                position: absolute !important;
                top: 0;

                &.import-file, 
                &.import-database {
                    display: none;
                }
            }

        }

        .card-base {
            width: calc(50% - 8px);
            z-index: 1;
        
            .card-title {
                span {
                    display: block;
                    font-size: $title__24;
                    line-height: 32px;
                    margin-bottom: 2px;
                }
            }
        
            .descript {
                font-size: $font-size-16;
                color: $grey-default;
            }

            &.active {
                width: 944px;
            }
        
        }
    }

    .btn-connect {
        margin-top: 80px !important;
        button  {
            width: 343px;
        }
    }

  
}

.active {
    .name{
        .v-input {
            width: 343px;
        }
    }
    .password {
        .v-input {
            width: 310px;
        }
    }
   
    .btn-group {
        margin-top: 48px !important;

        button {
            width: 80px;
        }

        .v-btn--outlined {
            &::before {
                display: none;
            }
        }
    }

}

.open-project.edit-data {
    .import-file-table {
       
        .v-data-table {
            thead th:first-child {
                min-width: 88px;
            }
         }  
    }
}

.import-file-table {
    position: relative;
    width: calc(100% - 400px);

    .v-data-table {
        thead th{
            min-width: 36px;

            &:first-child {
                min-width: 64px;
            }
        }
     }    

    .full-height {
        &.v-data-table,
        .v-data-table__wrapper{
            height: calc(100vh - 64px);
            overflow-y: auto !important;
        }
    }
    .v-data-table-header {
        span {
            white-space: nowrap;
        }
     }
}
.parse-data{
    color: $primary;
               
    > .row {
        height: 100%;
    }

    .checkbox-group,
    .checkless {
        color: $primary!important;
        span {
            min-height: 24px;
            padding-left: 0;
            font-size: $font-size-14;
            line-height: 24px;
            letter-spacing: -0.02em;
        }
    }

}


.fixed-width {
    position: relative;
    .divider {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 16px;
        height: 100%;

        .v-btn {
            position: absolute;
            top: 69px;
            z-index: 1;
        }

        &::after {
            content: '';
            position: inherit;
            display: block;
            width: 1px;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 7px;
            background-color: $point-deep;
            z-index: 0;
        }
        &:hover {
            cursor: ew-resize;
        }
    }

    &.v-data-table > .v-data-table__wrapper > table > tbody > tr {
        & > td {
            position: relative;
            span {
                position: relative;
                z-index: 1;
            }
            &:nth-child(4n-1) {
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom:0;
                    background-color: rgba(0,0,0,.08);
                    z-index: 0;
                }
            }
        }
    }
}



.v-alert{
    padding: 14px 40px !important;
    &.v-sheet{
        border-radius: 8px!important;
    }
    &.notification {
        position: absolute;
        left: 50%;
     }
    &.noti-wh-outlined {
        border: 1px solid $border-dark;
        min-width: 100px;
        letter-spacing: -0,02em;
    }
}




.sel-enc {
    width: 800px;
    height: 480px;
    .dialog-content {
        padding: 0;
        height: calc(100% - 52px);
        overflow-y: auto;
    }

    .base-table.v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
            padding-top: 10px;
            padding-bottom: 10px;
    }
}

.enc-table {
    &.v-data-table {
        & > .v-data-table__wrapper > table > thead > tr:last-child > th {
            > span {
                position: relative;
                bottom: -6px;
            }
        }

        & > .v-data-table__wrapper > table > tbody > tr {
            & > td {
                &:first-child {
                    width: 120px;
                    color: $point-deep;
                    text-decoration: underline;
                    border-left: 1px solid $border-default !important;
    
                }
                &:last-child {
                    border-right: 1px solid $border-default !important;
                }
    
            }
        }        

    }
}

