@import '../../styles/app';
@import '../../components/Checkbox/Checkbox';

.create-project {

    height: calc(100vh - 64px);
    overflow-y: auto ;

    .wrap {
        width: 1000px;
        padding: 120px 0;
        margin: 0 auto;
            
        @media screen and  (max-height: 768px) {
            padding-top : 32px
        }
    }

    .page-title { 
        h1 {
            display: block;
            width: 100%;
            height: 75px;
            height: auto;
            padding: 8px 0 17px;
            font-size: 32px;
            color: $primary;
            border-bottom: 2px solid $primary;
        }
        .descript {
            p {
                 font-size: $font-size-16;
                 color: $grey-default;
                 margin-bottom: 6px;
                 line-height: 24px;
            }

            span {
                display: block;
                font-size: $font-size-14;
                line-height: 19px;
                color : #969696;
            }
        }
     
    }

    .get-data {
        height: 364px;
        position: relative;

        .card-wrap {
            height: 100%;
            width: 100%;
        }

        &.import {
            > .card-wrap{
                height: 325px!important;
                margin-top: 16px;
            }
            &.get-file {
                > .active {
                    &.import-file {
                        left: 0;
                        display: block!important;
                    }
                }
            }
            &.get-database {
                > .active {
                    &.import-database {
                        right: 0;
                        display: block!important;
                    }
                }
            }

            > .active {
                position: absolute !important;
                top: 0;

                &.import-file, 
                &.import-database {
                    display: none;
                }
            }

        }

        .card-base {
            width: calc(50% - 8px);
            z-index: 1;
        
            .card-title {
                span {
                    display: block;
                    font-size: $title__24;
                    line-height: 32px;
                    margin-bottom: 2px;
                }
            }
        
            .descript {
                font-size: $font-size-16;
                color: $grey-default;
            }

            &.active {
                width: 944px;
            }
        
        }
    }

    .btn-connect {
        margin-top: 80px !important;
        button  {
            width: 343px;
        }
    }

  
}

.active {
    .name{
        .v-input {
            width: 343px;
        }
    }
    .password {
        .v-input {
            width: 310px;
        }
    }
   
    .btn-group {
        margin-top: 48px !important;

        button {
            width: 80px;
        }

        .v-btn--outlined {
            &::before {
                display: none;
              }
        }

    }

}
.import-file-table {
    position: relative;
}
.parse-data{
    color: $primary;

               
    @media screen and (max-width: 1280px) {
        .parse {
            position: absolute;
            top: 64px;
            right: 0;
            bottom: 0;
            
        }
        .import-file-table {
            width: 1280px;
            padding-right: 400px;
        }

        overflow-x: hidden;
    }

    > .row {
        height: 100%;
    }

    .checkbox-group,
    .checkless {
        color: $primary!important;
        span {
            min-height: 24px;
            padding-left: 0;
            font-size: $font-size-14;
            line-height: 24px;
            letter-spacing: -0.02em;
        }
    }

    .parse {
        max-width: 400px;
        border-left:1px solid $border-dark;
        background-color: $background-dark;

        .parse-title {
            height: 41px;
            padding: 15px 24px 0 15px;
            font-size: $font-size-base !important;
            border-bottom: 1px solid $grey-light;
                
            .update-pre {
                font-size: 11px!important;
                line-height: 16px;

                span {
                   letter-spacing: -0.02em;
                }

                &.v-btn {
                    padding: 0 !important;

                    &::before {
                        display: none!important;
                    }
                    .v-btn__content {
                        color: $point-bulely;
                    }
                    i {
                        margin-left: 2px;
                    }
                }
            }

        }

        > .row:last-child {
            margin-bottom: 7px;
        }
        
        .parse-section {
            padding: 16px 24px 15px 15px;
            border-bottom: 1px solid $border-default;

            .section-title {
                width: 100%;
                > span {
                    height: 24px;
                }
                font-size: $font-size-base;
                margin-bottom: 4px;
            }

            .v-input {
                input {
                    font-size: $font-size-base!important;
                }
            }

            .checkbox-group,
            .text-group {
                width: 100%;

            }

            .checkbox-group {
                padding: 4px 0;
            }

            .text-group {
                span {
                    // height: 24px;
                    flex-shrink: 0;
                }
            }          
        }

        .multi-row {
            .checkbox-control,
            .radio-control {
                position: relative;
                top: 7px;
            }
    
            .text-group {
                > div {
                    min-height: 28px;
                }
            }
            .checkbox-group {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &.text-only {
                .checkbox-control,
                .radio-control {
                    position: relative;
                    top: 4px;
                }                
                .text-group {
                    span {
                        line-height: 24px;
                    }
                }
            }

            & + .text-only {
                .text-group {
                    span {
                        line-height: 32px;
                    }
                }
            }

        }  

        .single-row {
            margin-bottom: 2px;
            &.checkbox-group {
                min-height: 34px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .inline-input {
                position: relative;
                top: -1px;
            }
            &.v-input {
                input {
                    padding: 0;
                }
            }
         
        }

        .col-sprt {
            .v-input {
                max-width: 160px;
                display: inline-block;
            }

            &.single {
                .checkbox-group {
                    margin-bottom: 0;
                }
            }
        }

        .ws-import {
            .v-btn {
                margin-right: 6px;
            }
        }

        /* == check, radio 옵션 선택만 있는 경우 ================================*/

        .text-group {
            .inline-input {
                position: relative;
                top: -1px;
                &.w-56{
                    width: 56px;
                }
                &.w-40 {
                    width: 40px;
                }
          
            }
            span {
                letter-spacing: -0.02em;
            }
        }
    }
}


.fixed-width {
    position: relative;
    .divider {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 16px;
        height: 100%;

        .v-btn {
            position: absolute;
            top: 69px;
            z-index: 1;
        }

        &::after {
            content: '';
            position: inherit;
            display: block;
            width: 1px;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 7px;
            background-color: $point-deep;
            z-index: 0;
        }
        &:hover {
            cursor: ew-resize;
        }
    }

    &.v-data-table > .v-data-table__wrapper > table > tbody > tr {
        & > td {
            position: relative;
            span {
                position: relative;
                z-index: 1;
            }
            &:nth-child(4n-1) {
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom:0;
                    background-color: rgba(0,0,0,.08);
                    z-index: 0;
                }
            }
        }
    }
}



.v-alert{
    padding: 14px 40px !important;
    &.v-sheet{
        border-radius: 8px!important;
    }
    &.notification {
        position: absolute;
        left: 50%;
     }
    &.noti-wh-outlined {
        border: 1px solid $border-dark;
        min-width: 100px;
        letter-spacing: -0,02em;
    }
}



.dialog-title {
    height: 52px;
    border-bottom: 1px solid $border-grey-01;
    font-size: 18px;
    padding: 0 24px;
    > div {
        width: 100%;
        height: 100%;
    }
}

.sel-enc {
    width: 800px;
    height: 480px;
}

.enc-table {
    &.v-data-table {
        & > .v-data-table__wrapper > table > thead > tr:last-child > th {
            > span {
                position: relative;
                bottom: -6px;
            }
        }

        & > .v-data-table__wrapper > table > tbody > tr {
            & > td {
                &:first-child {
                    width: 120px;
                    color: $point-deep;
                    text-decoration: underline;
                    border-left: 1px solid $border-default !important;
    
                }
                &:last-child {
                    border-right: 1px solid $border-default !important;
                }
    
            }
        }        

    }
}


.dialog-tab {
    padding: 0 24px 24px;
    position: relative;
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        top: 39px;
        background-color: $border-default;
    }
    .dialog-content {
        background-color: $white-background;
    }
    .v-tabs-bar {
        height: 40px !important;
        background-color: transparent!important;
    }

    .v-tab {
        margin-right: 16px !important;
        height: 40px;
        padding: 10px 0 0 0!important;
        justify-content: left !important;
        font-size : $font-size-base!important;
        text-transform:none !important;
        flex: 0 0 auto !important;
        letter-spacing: 0!important;

        &:not(.v-tab--active) {
            color: $grey-default!important;
            font-weight: normal!important;
        }
        &::before,
        &::after {
            display: none !important;
        }

        .v-ripple__container {
            display: none !important;
        }
    }
}