@import '../../styles/app.scss';

.content {
  background-color: $white-background !important;
  .v-main__wrap {
    padding: $header-height 0 0 $header-height;
    > .container  {
      overflow-y: auto;
    }
  }
}
