@import '../../styles/app';


.ico {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 16px auto;
    background-image: url('../../assets/img/ico-16.svg');
    background-position-x: 0;


    &.ico__close {
        background-position-y: -208px ;
    }
  
    &.ico__select-caret {
        background-position-y: -16px ;
    }

    // Parse data
    &.ico__refresh {
        background-position-y: -240px ;
    }
    // ===========================================

    // header tag 
    &.ico__clear {
        background-position-y: -320px;
    }
    &.ico__complete {
        background-position-y: -288px;
    }
    // ===========================================
  }
  