@import "../../styles/app";

.footer {
  width:100%;
  color: $primary;

  a {
    font-size: $font-size-base;
    line-height: 16px;
  }
  
  .copyright {
    line-height: 16px !important;
    font-size: $font-size-14;
  }
}