@import "../../styles/app";

.footer {
  width:100%;

  a {
    font-size: $font-size-base;
    line-height: 16px;
    color: $gnr-default!important;
  }
  
  .copyright {
    line-height: 16px !important;
    font-size: $font-size-base;
    color: $gnr-default;
  }
}