@import '../../styles/app';

.gnb-bar {
    position: absolute;
    top: $header-height;
    left: 0;
    padding: 40px 12px 32px;
    width: $header-height;
    height: calc(100vh - $header-height);
    background-color: $primary;
    z-index: 1;

    .gnb-list {
        width: 100%;
        padding: 0;

        .gnb-item {
            position: relative;
            width: 40px;
            height: 40px;

            .v-btn {
                width: 40px;
                min-width: 40px;
                height: 40px;
                min-height: 40px;
                padding: 0;
                margin: 0;
                background: transparent;
                font-size: 0;
                box-shadow: none;
                
                .v-icon, 
                .v-icon svg {
                    width: 32px !important;
                    height: 32px !important;
                }
            }
            span {
                display: flex;

                &.v-icon .v-icon__component {
                    position: relative;
                }
            }

            &.selected {
                border-radius: 12px;
                background-color: $point-deep;
            }

        }

        .gnb__project-create{
           a { 
                background-position: 0 -40px ;
            }
            &.selected {
                a {
                    background-position: 0 0;
                }
            }
        }

        .gnb__project-open{
            a { 
                 background-position: 0 -120px;
            }
            &.selected {
                a {
                    background-position: 0 -80px;
                }
            }
         }

         .gnb__project-import{
            a { 
                background-position: 0 -200px;
            }
            &.selected {
                a {
                    background-position: 0 -160px;
                }
            }
         }
        .gnb__project-import a{
            background-position: 0 -200px;
            &.selected {
                background-position: 0 -160px;
            }
        }

        .gnb__setting a{
            background-position: 0 -320px;
            &:hover{
                background-position: 0 -280px;
                border-radius: 20px;
                background-color: $point-deep;
            }
        }

        
        .gnb__logout {
            position: relative;
            cursor: pointer;
            
            .tooltip {
                top: -8px;
                left: 54px;
                &.dir-left {
                    .tooltip-arr {
                        top: 20px;
                    }
                }
                .tooltip-text {
                    font-size: 12px !important;
                }
            }

            .v-icon {
                display: none;                
                position: absolute;
                top:4px;
                left: 4px;
                z-index: 2;
                
                &,
                svg {
                    width: 32px;
                    height: 32px;
                }
            }

            &:hover {
                .v-icon {
                    display: block !important;
                }
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    height: 40px;
                    width: 40px;
                    left: 0;
                    top: 0;
                }
                &::before {
                    z-index: 2;
                    border-radius: 20px;
                    background-color: rgba(92,114,231, .5);
                    border: 2px solid $point-bulely;
                }
          
                .tooltip {
                    display: block!important;
                }
            }
        }
    }
}
