@import '../../styles/app';

.gnb-bar {
    position: absolute;
    top: $header-height;
    left: 0;
    padding: 40px 12px 32px;
    width: $header-height;
    height: calc(100vh - $header-height);
    background-color: $primary;
    z-index: 1;

    .gnb-list {
        width: 100%;
        padding: 0;

        .gnb-item {
            position: relative;
            span {
                font-size: 0;
                height: 0;
                padding-top: 40px;
                display: inline-block;
            }
            a {
                display: block;
                width: 100%;
                padding-top: 40px;
                height: 40PX;
                background-image: url('../../assets/img/GNB.png');
                background-size: 40px auto;
                background-repeat: no-repeat;
                overflow: hidden;
            }

            &.selected {
                border-radius: 12px;
                background-color: $point-deep;
            }

        }

        .gnb__project-create{
           a { 
                background-position: 0 -40px ;
            }
            &.selected {
                a {
                    background-position: 0 0;
                }
            }
        }

        .gnb__project-open{
            a { 
                 background-position: 0 -120px;
            }
            &.selected {
                a {
                    background-position: 0 -80px;
                }
            }
         }

         .gnb__project-import{
            a { 
                background-position: 0 -200px;
            }
            &.selected {
                a {
                    background-position: 0 -160px;
                }
            }
         }
        .gnb__project-import a{
            background-position: 0 -200px;
            &.selected {
                background-position: 0 -160px;
            }
        }

        .gnb__setting a{
            background-position: 0 -320px;
            &:hover{
                background-position: 0 -280px;
                border-radius: 20px;
                background-color: $point-deep;
            }
        }

        
        .gnb__logout {
            position: relative;
            cursor: pointer;

            .tooltip {
                position: fixed;
                display: none;
                left: 72px;
                bottom: 32px;
                border-radius: 8px;
                min-height: 40px;
                min-width: 120px;
                background-color: rgba(32,32,32,.75);
                padding: 8px 16px;
                span {
                    padding: 0!important;
                    min-height: 24px;
                    color: #fff;
                    font-size: $font-size-base;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 12px;
                    left: -6px;
                    top: 14px;
                    background-image: url('../../assets/img/icon/tooltip-arrow.svg');
                    background-size: 6px 12px;
                    background-repeat: no-repeat;
                    overflow: hidden;
                    background-position: 0 0;
                }
            }
                        &:hover {
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    height: 40px;
                    width: 40px;
                    left: 0;
                    top: 0;
                }
                &::before {
                    z-index: 2;
                    border-radius: 20px;
                    background-color: rgba(92,114,231, .5);
                    border: 2px solid $point-bulely;
                }
                &::after {
                    z-index: 1;
                    background-image: url('../../assets/img/GNB.png');
                    background-size: 40px auto;
                    background-repeat: no-repeat;
                    overflow: hidden;
                    background-position: 0 -240px;
                }

                .tooltip {
                    display: block!important;
                }

            }
        
        }
    }
}
