@import '../../styles/app';



.attach-item {
    height: 64px;
    padding: 12px 0 12px 18px;
    border: 1px solid $border-default;
    border-radius: 8px;

    > .row {
        height: 40px;
    }

    .percent {
        max-width: 49px;
    }

    .badge {
        min-width: 40px;
        padding: 0 8px;
        height: 40px;
        font-size: 24px;
        line-height: 40px;
        color: $primary;
        border-radius: 4px;
        letter-spacing: -0.05em;
      
        &.badge-grey {
            background: #d9d9d9;
        }
    }
    .file-icon {
        margin-right: 6px;
        display: flex;
        @extend %ico-16;
    }
    .file-name {
        font-size: $font-size-16;
        color: $primary;
    }

    .close {
        max-width: 50px;
        // padding-right: 18px;

        // button::before {
        //     display: none;
        // }
        
        // span {
        //     max-width: 16px;
        //     margin-right: 2px;
        // }

        svg {
            @extend %ico-svg-16;
        }
        .v-btn {
            margin-right: 8px;
        }
    }
}

.basic-file-list {
    padding-right: 0 !important;
    .attach-item {
        height: 32px;
        padding: 0 0 0 8px;
        width: 610px;
        background-color: #EBEEF1;
        .row {
            height: 32px !important;
            .file-name {
                font-size: 12px;
               }
        }
       
    }
    
    
}
